<ion-header id="page2">
	<h1 class="title">Home</h1>
</ion-header>

<ion-content padding="true" class="has-header"> 


	<div class="list" ng-repeat="arg in listdata" ng-hide="ListVal">
		<a class="item item-avatar"   ng-click="fullDesc($index,arg.id)">
			<img src="http://app.nexuslegalassociates.com/dhaval/{{arg.thumbnail}}">
			<h2>{{arg.title}}</h2>
			<p>{{arg.name}}</p>
			<ion-col center text-center>
				<ion-note>
					<p>{{arg.addat}}</p>
				</ion-note>
			</ion-col>
		</a>
	</div>

	<div class="card" ng-hide="Error">
		<div class="item item-text-wrap">
			Sorry there is no record found !.
		</div>
	</div>

</ion-content>
